@import "tailwindcss";

/* Font Fallback Variables */
:root {
  --font-arabic: "Labeeb-Arabic", "Segoe UI", "Tahoma", "Arial", sans-serif;
  --font-english: "Labeeb-English", "Segoe UI", "Tahoma", "Arial", sans-serif;
}
/* Custom Fonts */
@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-arabic);
}

.body-medium {
  @apply leading-[27px] text-base;
}

.display2-bold {
  @apply text-[40px] lg:text-[55px] xl:text-[72px] leading-[48px] lg:leading-[83px] font-[900];
}

.h4-medium {
  @apply text-[24px] leading-[34px];
}
.h4-light {
  @apply text-[24px] leading-[34px] font-light;
}
.h4-image {
  @apply text-[13px] leading-[21px] font-light;
}

.h4-image-bold {
  @apply text-[16px] md:text-[20px] lg:text-[24px] leading-[31px] font-bold;
}

.h2-bold {
  @apply text-[30px] lg:text-[40px]  leading-[36px] lg:leading-[52px] font-[900];
}
.h2-light {
  @apply text-[30px] lg:text-[40px]  leading-[36px] lg:leading-[52px] font-[900];
}

.h3-bold-english {
  @apply text-[24px] leading-[29px] font-medium;
  font-family: var(--font-english);
}

.titles-medium {
  @apply text-[18px] leading-[29px];
}

.h1-bold {
  @apply font-bold text-[30px] leading-[48px] lg:text-[48px] lg:leading-[60px];
}

.h3-light {
  @apply font-light text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}
.h3-medium {
  @apply font-medium text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}
.h3-bold {
  @apply font-bold text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}

.cta-large {
  @apply text-[16px] leading-[27px] font-[900];
}

.title-bold {
  @apply text-[16px] leading-[29px] font-[900];
}

.h4-link {
  @apply text-[24px] leading-[34px] font-[900] underline cursor-pointer;
}

.caption-medium {
  @apply text-[14px] leading-[22px] font-bold;
}
.caption-medium-english {
  @apply text-[14px] leading-[22px] font-bold;
  font-family: var(--font-english);
}
