@import "tailwindcss";

/* Font Fallback Variables */

@theme inline {
  --font-arabic: "Labeeb-Arabic", "Segoe UI", "Tahoma", "Arial", sans-serif;
  --font-english: "Labeeb-English", "Segoe UI", "Tahoma", "Arial", sans-serif;
  --color-yellow: #ffd127;
  --color-blue: #1685c6;
  --color-offwhite: #eef2f5;
  --color-primary-default: #4a5057;
  --color-secondary-default: #4a5057;
  --color-default: #f9fafb;
  --color-secondary-default: #dc222a;
  --color-red: #f04349;
  --color-navy: #0f2837;
  --color-grey: #c9d1d7;
  --color-orange: #f06827;
  --color-light-blue: #e3f0fb;
}

/* Custom Fonts */
@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-Arabic";
  src: url("/fonts/Labeeb-Arabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Labeeb-English";
  src: url("/fonts/Labeeb-English-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-arabic);
}

.body-medium {
  @apply leading-[27px] text-base;
}
.body-light {
  @apply leading-[27px] text-base font-light;
}

.display2-bold {
  @apply text-[40px] lg:text-[55px] xl:text-[72px] leading-[48px] lg:leading-[83px] font-[900];
}

.h4-medium {
  @apply text-[24px] leading-[34px];
}
.h4-light {
  @apply text-[24px] leading-[34px] font-light;
}
.h4-bold {
  @apply text-[24px] leading-[34px] font-medium;
}
.h4-image {
  @apply text-[13px] leading-[21px] font-light;
}

.h4-image-bold {
  @apply text-[16px] md:text-[20px] lg:text-[24px] leading-[31px] font-bold;
}

.h2-bold {
  @apply text-[30px] lg:text-[40px]  leading-[36px] lg:leading-[52px] font-[900];
}
.h2-light {
  @apply text-[30px] lg:text-[40px]  leading-[36px] lg:leading-[52px] font-[900];
}

.h3-bold-english {
  @apply text-[24px] leading-[29px] font-medium;
  font-family: var(--font-english);
}

.titles-medium {
  @apply text-[18px] leading-[29px];
}
.titles-bold {
  @apply text-[18px] leading-[29px] font-bold;
}

.h1-bold {
  @apply font-bold text-[30px] leading-[48px] lg:text-[48px] lg:leading-[60px];
}

.h3-light {
  @apply font-light text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}
.h3-medium {
  @apply font-medium text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}
.h3-bold {
  @apply font-bold text-[24px] lg:text-[32px] leading-[32px] lg:leading-[42px];
}

.cta-large {
  @apply text-[16px] leading-[27px] font-[900];
}

.title-bold {
  @apply text-[16px] leading-[29px] font-[900];
}

.h4-link {
  @apply text-[24px] leading-[34px] font-[900] underline cursor-pointer;
}

.caption-medium {
  @apply text-[14px] leading-[22px] font-bold;
}
.caption-light {
  @apply text-[14px] leading-[22px] font-light;
}
.caption-medium-english {
  @apply text-[14px] leading-[22px] font-bold;
  font-family: var(--font-english);
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.bg-gradient-red {
  background: linear-gradient(90deg, #f06827 0%, #f04349 100%);
}

.bg-gradient-navy {
  background: linear-gradient(
    180deg,
    rgba(14, 44, 67, 0) -25.92%,
    #0e2c43 100%
  );
  background-blend-mode: multiply;
}

.grid-masonry {
  display: grid;
  gap: 16px;
  grid-template-areas:
    "gallery1 gallery1 gallery2 gallery3"
    "gallery1 gallery1 gallery4 gallery4"
    "gallery5 gallery5 gallery6 gallery7"
    "gallery8 gallery9 gallery6 gallery7"
    "gallery8 gallery9 gallery10 gallery11";
  grid-template-rows: 388px 285px 285px 51px 336px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1280px) {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    grid-template-rows: none;
    grid-auto-rows: 388px;
  }
}

.gallery1 {
  grid-area: gallery1;
}
.gallery2 {
  grid-area: gallery2;
}
.gallery3 {
  grid-area: gallery3;
}
.gallery4 {
  grid-area: gallery4;
}
.gallery5 {
  grid-area: gallery5;
}
.gallery6 {
  grid-area: gallery6;
}
.gallery7 {
  grid-area: gallery7;
}
.gallery8 {
  grid-area: gallery8;
}
.gallery9 {
  grid-area: gallery9;
}
.gallery10 {
  grid-area: gallery10;
}
.gallery11 {
  grid-area: gallery11;
}

@media (max-width: 1280px) {
  .gallery1,
  .gallery2,
  .gallery3,
  .gallery4,
  .gallery5,
  .gallery6,
  .gallery7,
  .gallery8,
  .gallery9,
  .gallery10,
  .gallery11 {
    grid-area: auto;
  }
}

.values ul {
  @apply flex flex-col gap-2;
  li {
    @apply flex flex-col gap-1 p-2 border border-primary-default/25 shadow-xs rounded-lg text-base;
  }

  li p:first-child {
    @apply font-medium;
  }

  li p:last-child {
    @apply text-secondary-default;
  }
}
